<h1> Space Flight News</h1>

<a href="<%= @article_url%>"><%= @article_title %></a>
<br>
<img src="<%= @article_image %>" width="200" height="200" alt="Minha Figura">
<p><%= @article_summary %></p>

<p><%= @article_date %></p>
<p><%= @article_news %></p>

<button> Ver Mais </button>
